
<h2>登下校時間</h2>
<hr>
<% if @timecards %>
  <% @timecards.each do |e| %>
  <ul class="list-group">
    <li class="list-group-item"><%= e.title + '　：　' %><%= e.created_at.strftime('%Y年%m月%d日 %H:%M') %></li>
  </ul>
  <% end %>
<% end %>
