h1
  | 生徒管理
= paginate @user
.table-responsive
  table.table.table-hover
    tbody
      tr
        td
          | 氏名
        td
        td
        td
        td
    - @user.each do |user|
      - if user.confirmed? && user.admin? == false
        tr
          td
            = user.name
          td
            = link_to '登録内容確認' , user_path(user), class:'btn btn-warning btn-sm'
          td
            = link_to '登録内容更新' , edit_user_path(user), class:'btn btn-danger btn-sm'
          td
            = link_to '指導情報登録',new_result_path(user), class:'btn btn-primary btn-sm'
          td
            = link_to '過去の指導情報',result_path(user), class:'btn btn-info btn-sm'
