h2
  | 登録情報
hr
.panel.panel-info
  .panel-heading
    = '氏名：' + @user.name
  ul.list-group
    li.list-group-item
      = 'メール：' + @user.email
    li.list-group-item
      = '最近のログイン：' + @user.current_sign_in_at.strftime('%Y年%m月%d日 %H:%M')
  .panel-body
    |  直近の指導報告 
    hr
    - if @user.results.last
      h3
        = @user.results.last.title
      p
        = @user.results.last.content
    - else
      |  指導報告はありません 
= link_to '過去の指導情報',result_path, class:'btn btn-info'
