
  <div class="col-md-8">
    <h1>
      <%= @info.title %>
    </h1>
    <% @tickets.each do |e| %>
    <hr>
    <h3>
      参加者
      <%= User.find(e.user_id).name %>
    </h3>
    <h3>
      コメント
    </h3>
    <p>
      <%= e.comment %>
    </p>
    <% end %>
  </div>
