<h2>参加申し込み中のイベント</h2>
<hr>
<% if @tickets %>
  <% @tickets.each do |e| %>
  <div class="panel panel-warning">
    <div class="panel-heading">
      <p>
        <%= link_to e.information.title ,information_path(e.information_id) %>
      </p>
    </div>
    <div class="panel-body">
      <% if e.information[:start_date] %>
        <%  if e.information[:start_date] < Time.now.at_beginning_of_day %>
          <%= '開催終了しました' %>
        <% else %>
          <%= link_to 'キャンセル', information_ticket_path(e.information_id,e.id), method: :delete, class:'btn btn-warning', data: {confirm: '本当にキャンセルしますか？'} %>
          <hr>
          <%= '開催日時：' + e.information[:start_date].strftime('%Y年%m月%d日 %H:%M')%>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
<% end %>
