doctype html
html
  head
    title
      = content_for?(:title) ? yield(:title) : '塾アプリ'
    meta[charset="utf-8"]
    link[rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"]
    link[rel="stylesheet" href="https://code.getmdl.io/1.1.2/material.light_blue-yellow.min.css"]
    script[defer src="https://code.getmdl.io/1.1.1/material.min.js"]
    link[rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"]
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    = render 'layouts/navigation'
    main.container
      - if flash[:notice]
        .alert.alert-success
          = flash[:notice]
      - if flash[:alert]
        .alert.alert-danger
          = flash[:alert]
      - if current_user
        .row
          .col-md-4
            = render 'layouts/sidebar'
          .col-md-8
            = yield
      - else
        .col-md-12
          = yield
